html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;

    /* The universe is black */
    background-color: black;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;

    border-color: orange;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;

    box-shadow: 0 0 256px orange;

    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
}

#mercurio {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;

    height: 16px;
    width: 16px;
    margin-left: -25px;
    margin-top: -25px;
}

#venus {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;

    height: 36px;
    width: 36px;
    margin-left: -25px;
    margin-top: -25px;
}

#earth {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;

    height: 30px;
    width: 30px;
    margin-left: -25px;
    margin-top: -25px;
}

#mars {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;

    height: 20px;
    width: 20px;
    margin-left: -25px;
    margin-top: -25px;
}

#jupter {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;

    height: 60px;
    width: 55px;
    margin-left: -25px;
    margin-top: -25px;
}

#saturno {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;

    height: 35px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
}

#uranus {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;

    height: 25px;
    width: 25px;
    margin-left: -25px;
    margin-top: -25px;
}

#netuno {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;

    height: 22px;
    width: 22px;
    margin-left: -25px;
    margin-top: -25px;
}

#plutao {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;

    height: 10px;
    width: 10px;
    margin-left: -25px;
    margin-top: -25px;
}

#mercurio-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 11s linear infinite;
    -moz-animation: spin-right 11s linear infinite;
    -ms-animation: spin-right 11s linear infinite;
    -o-animation: spin-right 11s linear infinite;
    animation: spin-right 11s linear infinite;
}

#venus-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 8s linear infinite;
    -moz-animation: spin-right 8s linear infinite;
    -ms-animation: spin-right 8s linear infinite;
    -o-animation: spin-right 8s linear infinite;
    animation: spin-right 8s linear infinite;
}


#earth-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 10s linear infinite;
    -moz-animation: spin-right 10s linear infinite;
    -ms-animation: spin-right 10s linear infinite;
    -o-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}

#mars-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 15s linear infinite;
    -moz-animation: spin-right 15s linear infinite;
    -ms-animation: spin-right 15s linear infinite;
    -o-animation: spin-right 15s linear infinite;
    animation: spin-right 15s linear infinite;
}

#jupter-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 700px;
    height: 700px;
    margin-top: -350px;
    margin-left: -350px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 13s linear infinite;
    -moz-animation: spin-right 13s linear infinite;
    -ms-animation: spin-right 13s linear infinite;
    -o-animation: spin-right 13s linear infinite;
    animation: spin-right 13s linear infinite;
}

#saturno-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 800px;
    height: 800px;
    margin-top: -400px;
    margin-left: -400px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 10s linear infinite;
    -moz-animation: spin-right 10s linear infinite;
    -ms-animation: spin-right 10s linear infinite;
    -o-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}

#uranus-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 900px;
    height: 900px;
    margin-top: -450px;
    margin-left: -450px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 14s linear infinite;
    -moz-animation: spin-right 14s linear infinite;
    -ms-animation: spin-right 14s linear infinite;
    -o-animation: spin-right 14s linear infinite;
    animation: spin-right 14s linear infinite;
}

#netuno-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 1000px;
    height: 1000px;
    margin-top: -500px;
    margin-left: -500px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 12s linear infinite;
    -moz-animation: spin-right 12s linear infinite;
    -ms-animation: spin-right 12s linear infinite;
    -o-animation: spin-right 12s linear infinite;
    animation: spin-right 12s linear infinite;
}

#plutao-orbit {
    /* For Section #2 */
    position: absolute;
    top: 50%;
    left: 50%;

    width: 1100px;
    height: 1100px;
    margin-top: -550px;
    margin-left: -550px;

    border-width: 0px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

    -webkit-animation: spin-right 10s linear infinite;
    -moz-animation: spin-right 10s linear infinite;
    -ms-animation: spin-right 10s linear infinite;
    -o-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}